<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label>
        First Name:
        <input type="text" formControlName="firstName">
    </label>

    <label>
        Last Name:
        <input type="text" formControlName="lastName">
    </label>

    <div formGroupName="address">
        <h3>Address</h3>
        <label>
            Street:
            <input type="text" formControlName="street">
        </label>

        <label>
            City:
            <input type="text" formControlName="city">
        </label>

        <label>
            State:
            <input type="text" formControlName="state">
        </label>
    </div>

    <div formArrayName="hobbies">
        <h3>Hobbies</h3>
        <input type="button" (click)="addHobby()" value="Add hobby">

        <div *ngFor="let control of hobbies.controls; let i=index">
            <label>
                Hobby:
                <input type="text" [formControlName]="i">
            </label>
        </div>
    </div>

    <!-- Test form group in form array-->
    <div formArrayName="repos">
        <h3>Repos</h3>
        <input type="button" (click)="addRepo()" value="Add repo">

        <div *ngFor="let control of repos.controls; let i=index">
            <label>
                Name:
                <input (click)="console.log(control)" type="text" formControlName="{{repoName + i}}">
            </label>
            <label>
                Contributors:
                <input type="text" formControlName="{{repoContributors + i}}">
            </label>

        </div>
    </div>

    <input type="submit" [disabled]="!userForm.valid" value="Submit">
</form>